@media (min-width: 530px) {
    .navbar {
        align-items: center;
        padding: 10px;
        gap: 15px;

    }

    .areaBusca {
        max-width: 90%;
        justify-self: center;
    }

    .categorias {
        top: 20%;
        right: 14px;

    }

    .logo {
        gap: 10px;

    }

    .container {
        grid-template-columns: 0px 1fr 0px;

        transition: grid-template-columns 0.3s ease;
    }

    .container.carrinho-aberto {
        grid-template-columns: 0px 3fr 350px;

        .produtos {
            grid-column: 2/3;
            grid-row: 1;
            align-self: flex-start;
        }



        .sidebar-carrinho {
            opacity: 1;
            visibility: visible;
            transform: translateX(0px);

        }

        transition: grid-template-columns 0.2s ease;
    }

    .sidebar-carrinho {
        display: block;
        bottom: 0;
        right: 0;
        left: 55%;
        top: 69px;
        width: 45%;
        height: 85%;
        background: var(--color-surface);
        box-shadow: var(--shadow-md);
        border-radius: 10px 0 0 10px;
        z-index: 0;
        transform: translateX(100%);
        opacity: 0;
        visibility: hidden;
        overflow: hidden;

        transition:
            opacity 0.3s ease-in-out,
            visibility 0.2s ease-in-out,
            transform 0.1ms ease-in-out;

    }

}

@media (min-width: 767px) {
    .navbar {
        align-items: center;
        padding: 15px;
        gap: 15px;
    }


    .logo {
        justify-content: center;
        gap: 10px;

    }

    .areaBusca {
        max-width: 633px;
        justify-self: center;
    }

    .info-users {
        justify-content: center;
    }

    .info-users h4 {
        display: block;

    }

    .categorias {
        top: 10%;
        right: 357px;

    }

    .produtos {
        grid-template-rows: auto;
        justify-content: center;
    }

    .box {
        grid-column: 2/-2;
        max-width: 100%;
        grid-template-columns: repeat(2, 3fr);

    }

    .box-form {
        grid-template-columns: 55% 35%;
        grid-template-areas:
            'dadospessoais   resumo'
            'endereco        resumo'
            'pagamento        resumo'
            'botao             resumo';
    }


    #form-dadosPessoais {
        grid-area: dadospessoais;
    }

    #form-endereco {
        grid-area: endereco;
    }

    #form-pagamento {
        grid-area: pagamento;
    }

    #resumo-pedido {
    
        grid-area: resumo;
    }
    #button-buy{
        grid-area: botao;
    }


    .details {
        margin-top: 23px;
    }

    .rating {
        grid-column: 1/2;
    }

    .title-product,
    .rating {
        grid-column: 2/-1;
    }

    .img-product {
        grid-column: 1/2;
    }



}