

@media (min-width: 992px) {
    .navbar {
        justify-content: space-evenly;
    }

    .areaBusca {
        max-width: 50%;
        width: 600px;
    }

    .pesquisarProdutos {
        width: 100%;
    }

}